<div class="center jumbotron">
  <h1>Hack Days 33</h1>

  <%= image_tag("typing-cat.gif", alt: "Typing cat")%>

  <h2>
      This is the home page for Youmi on Rails.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
