<div class="text-center">
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "150"), "https://rubyonrails.org/" %>
</div>

<footer class="footer">
  <small>
    The <%= link_to "Youmi on Rails7 App",   root_path %>.

  </small>

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/youmikoh">Github</a></li>
    </ul>
  </nav>
</footer>
