<div class="text-center">
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "150"), "https://rubyonrails.org/" %>
</div>

<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails 7 Tutorial</a>

  </small>

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
