<div class="Polaris-Page">
  <div class="Polaris-Box" style="--pc-box-padding-block-end-xs:var(--p-space-4);--pc-box-padding-block-end-md:var(--p-space-5);--pc-box-padding-block-start-xs:var(--p-space-4);--pc-box-padding-block-start-md:var(--p-space-5);--pc-box-padding-inline-start-xs:var(--p-space-4);--pc-box-padding-inline-start-sm:var(--p-space-0);--pc-box-padding-inline-end-xs:var(--p-space-4);--pc-box-padding-inline-end-sm:var(--p-space-0);position:relative">
    <div class="Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
      <div class="Polaris-Page-Header__Row">
        <div class="Polaris-Page-Header__TitleWrapper">
          <h1 class="Polaris-Header-Title">Youmi on Rails</h1>
        </div>
        <div class="Polaris-Page-Header__RightAlign">
          <div class="Polaris-ActionMenu">
            <div class="Polaris-ActionMenu-Actions__ActionsLayout">
              <div class="Polaris-ButtonGroup Polaris-ButtonGroup--extraTight">
                <div class="Polaris-ButtonGroup__Item">
                  <span class="Polaris-ActionMenu-SecondaryAction">
                      <%= link_to "Home", root_path, class: "Polaris-Button"%>
                  </span>
                </div>
                <div class="Polaris-ButtonGroup__Item">
                  <span class="Polaris-ActionMenu-SecondaryAction">
                      <%= link_to "Help", help_path, class: "Polaris-Button"%>
                  </span>
                </div>
                <div class="Polaris-ButtonGroup__Item">
                  <span class="Polaris-ActionMenu-SecondaryAction">
                      <%= link_to "Log in", "#", class: "Polaris-Button"%>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="Polaris-Card">
      <div class="Polaris-Card__Header">
        <h2 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--semibold">Credit card</h2>
      </div>
      <div class="Polaris-Card__Section">
        <p>Credit card information</p>
      </div>
    </div>
  </div>
</div>
